{% extends "base.html" %}

{% block posthead %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://google.com/article"
      },
      "headline": "{{ page.title }}",
      "image": [],
      "datePublished": "{{ page.date | date(format="%+") }}",
      "dateModified": "{{ page.date | date(format="%+") }}"{% if config.extra.author %},
      "author": {
        "@type": "Person",
        "name": "{{ config.extra.author }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ config.extra.author }}"{% if config.extra.icon %},
        "logo": {
          "@type": "ImageObject",
          "url": "{{ get_url(path=config.extra.icon) }}"
        }
        {% endif %}
      }
      {% endif %}
    }
  </script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Blog",
          "item": "{{ get_url(path="@/posts/_index.md") }}"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ page.title }}",
          "item": "{{ page.permalink }}"
        }
      ]
    }
  </script>
{% endblock %}

{% block content %}
  <div>
    <h1>{{ page.title }}</h1>
    <small>{{ page.date | date(format="%B %d, %Y") }}</small>
  </div>

  <div>{{ page.content | safe }}</div>
{% endblock content %}

